img{
    border-radius: 175px;
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 10px;
}
 em{
    color:gray;
 }
 .container{
    margin: auto;
    height: 400px;
    

 }
 .col{
    border: 0px;
 }
 .card-text{
    font-size: 12px;
 }
